<footer class="footer text-white text-center text-lg-start" >
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Diabetes Tracker</h5>
        <p>
          Your reliable companion in managing diabetes. Track, monitor, and manage your health efficiently.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a [routerLink]="['/home']" class="text-white">
              <i class="fa fa-home"></i> Home
            </a>
          </li>
          <li>
            <a [routerLink]="['/diabetic-list']" class="text-white">
              <i class="fa fa-list"></i> Diabetic List
            </a>
          </li>
          <li>
            <a [routerLink]="['/glycemie-list']" class="text-white">
              <i class="fa fa-heartbeat"></i> Glycemia List
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact Us</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-envelope"></i> info&#64;diabetestracker.com
          </li>
          <li>
            <i class="fa fa-phone"></i> +1 234 567 890
          </li>
          <li>
            <i class="fa fa-map-marker"></i> 1234 Street Name, City, Country
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark text-white">
    © 2023 Diabetes Tracker
  </div>
</footer>
